/out
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/src/javafx-sdk-18.0.1
/src/someClasses
/src/ru/spbu/arts/java/fractals